scripts=["create\ service\ user\ anf-service\ with\ path\ /home/users/system/anf-service","set\ ACL\ for\ anf-service\r\nallow\ jcr:read,rep:write\ on\ /var\r\nend","set\ ACL\ for\ anf-service\r\nallow\ jcr:removeChildNodes, jcr:removeNode, jcr:read, jcr:addChildNodes, jcr:nodeTypeManagement, jcr:versionManagement, jcr:modifyProperties, jcr:lockManagement\ on\ /content/anf-code-challenge/us/en\r\nend", "set\ ACL\ for\ anf-service\r\nallow\ jcr:read\ on /etc/age\r\nend"]
references=[""]
